body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #353440;
}

.App {
  text-align: center;
  display: flex;
  background-color: #353440;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.imgname {
  text-align: left;
  font-weight: bold;
  margin-top: -1px;
  margin-bottom: 10px;
}

.sidemenu {
  flex: 1 1 0;
  max-width: 260px;
  width: 260px;
  padding: 10px;
  background-color: #202123;
  transition: all 0.4s;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  background-color: #5278ec;
  cursor: pointer;
  margin-top: -25px;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}
.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #fff;
  transition-duration: 0.25s;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}
.hamburger > span::after {
  content: "";
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

@media (max-width: 1024px) {
  .sidemenu {
    max-width: 260px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .content {
    padding-top: 8rem;
  }
  .sidemenu {
    position: fixed;
    top: 0;
    left: -260px;
    height: 100vh;
    width: 100%;
    max-width: 260px;
    transition: 0.2s linear;
    z-index: 1;
  }

  .sidemenu.is-active {
    left: 0;
    z-index: 1;
  }
}

.chat-input-holder {
  display: flex;
  justify-content: center;
}

.form {
  position: fixed;
  bottom: 0;
  background-color: #41404e;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 5);
  margin-bottom: 20px;
}

.chat-input {
  background-color: #41404e;
  border: 5px;
  color: white;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  width: 550px;
}

.input-button {
  background-color: #5c83f3;
  color: white;
  border: 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .sidemenu-button {
    font-size: small;
    padding: 2px;
  }
  .chat-log {
    font-size: medium;
  }
  .logo {
    width: 100%;
    height: 100px;
  }

  .ai-image {
    margin-left: -20px;
    width: 260px;
    height: 260px;
  }
  .sidemenu-button span {
    display: none;
  }
  .generate {
    font-size: medium;
  }
  .chat-input {
    width: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  /* For tablets: */
  .ai-image {
    margin-left: -20px;
    width: 260px;
    height: 260px;
  }
}

@media only screen and (max-width: 400px) {
  /* For tablets: */
  .ai-image {
    margin-left: -20px;
    width: 260px;
    height: 260px;
  }
  .imgname {
    font-size: 15px;
  }
}

.generate {
  text-align: left;
}

.sidemenu-button {
  margin-top: 10px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
}

.sidemenu-button:focus {
  background: white;
  color: black;
}

.sidemenu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.sidemenu-button:hover {
  background-color: #2b2c2f;
  border: 1px solid white;
  transition: all;
  transition-duration: 250ms;
}

.margin-above {
  margin-top: 60px;
}

.chatbox {
  flex: 1;
  position: relative;
  overflow-y: auto;
}

.input-button:hover {
  background-color: #5278ec;
  transition: all;
  transition-duration: 250ms;
}

.center-div {
  position: fixed;
  bottom: 0;
  margin-left: 50px;
}

.loading {
}

.chat-log {
  text-align: left;
}

.chat-message.chatgpt {
  background-color: #454553;
}

.chat-message-center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.gpt {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.message {
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 25px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 35px;
}
.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
